[submodule "repos/skkuverse-server"]
	path = repos/skkuverse-server
	url = https://github.com/spencer0124/skkuverse-server.git
	branch = main
[submodule "repos/skkuverse-crawler"]
	path = repos/skkuverse-crawler
	url = https://github.com/spencer0124/skkuverse-crawler.git
	branch = main
[submodule "repos/skkuverse-ai"]
	path = repos/skkuverse-ai
	url = https://github.com/spencer0124/skkuverse-ai.git
	branch = main
[submodule "repos/skkuverse-app"]
	path = repos/skkuverse-app
	url = https://github.com/spencer0124/skkuverse-app.git
	branch = main
[submodule "repos/skkuverse.com"]
	path = repos/skkuverse.com
	url = https://github.com/spencer0124/skkuverse.com.git
	branch = main
[submodule "repos/skkuverse-codepush"]
	path = repos/skkuverse-codepush
	url = https://github.com/spencer0124/skkuverse-codepush.git
	branch = main
