[submodule "skkuverse-server"]
	path = skkuverse-server
	url = https://github.com/spencer0124/skkuverse-server.git
	branch = main
[submodule "skkuverse-crawler"]
	path = skkuverse-crawler
	url = https://github.com/spencer0124/skkuverse-crawler.git
	branch = main
[submodule "skkuverse-ai"]
	path = skkuverse-ai
	url = https://github.com/spencer0124/skkuverse-ai.git
	branch = main
[submodule "skkuverse-app"]
	path = skkuverse-app
	url = https://github.com/spencer0124/skkuverse-app.git
	branch = main
[submodule "skkuverse.com"]
	path = skkuverse.com
	url = https://github.com/spencer0124/skkuverse.com.git
	branch = main
[submodule "skkuverse-codepush"]
	path = skkuverse-codepush
	url = https://github.com/spencer0124/skkuverse-codepush.git
	branch = main
[submodule "skkuverse-web"]
	path = skkuverse-web
	url = https://github.com/spencer0124/skkuverse-web.git
	branch = main
